<div class="app app--home">
  <h1>Welcome to Rabbits</h1>
  <div class="app__actions">
    <%= link_to 'Client', client_orders_path, class: 'btn btn-primary' %>
    <%= link_to 'Carrier', carrier_orders_path, class: 'btn btn-primary' %>
  </div>
</div>
